body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/090/201/original/pngtree-original-pink-grid-plaid-background-picture-image_1297784.jpg?1689528230");
  background-repeat: repeat;
  background-size: 30%;
}

header {
  display: grid;
  grid-template-columns: 5fr 9fr;
  gap: 30%;
  justify-items: center;
  max-width: 100%;
}

h1,
h2 {
  text-align: center;
}

h1,
h2,
p,
ul {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px auto;
}

p,
ul {
  font-size: 16px;
}

h2 {
  color: palevioletred;
}

button {
  margin: 15px auto;
  display: block;
  font-size: 12px;
  font-weight: bold;
  border: 0px;
  border-radius: 8px;
  padding: 15px 15px;
  transition: all 200ms ease-in-out;
}

button:hover {
  cursor: pointer;
}

article,
footer {
  padding: 20px 60px;
}

.header-logo img {
  width: 100px;
  height: 50px;
}

.cake-pic img {
  margin: auto;
  width: 400px;
  height: 250px;
  display: block;
  justify-items: center;
}

.menu-item-text {
  display: inline-block;
  list-style-type: none;
  text-align: right;
  padding: 5px auto;
  margin: 5px;
  font-size: 12px black;
}

.menu-item {
  list-style-type: none;
  -webkit-padding-start: 0%;
}

.menu-item-text a {
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}

.menu-item-text a:hover {
  color: palevioletred;
}

.recipe-details {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#container {
  margin: 30px auto;
  padding: 20px 30px;
  max-width: 90%;
  background-color: #fffafa;
}

.team-grid {
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
}

.team-pic {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.textCommu {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#submitButton:hover {
  background-color: palevioletred;
}
